<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />

</head>
<body>
    <!-- <form action="/shopify/scripttag/add?shop=migzz29.myshopify.com" method="GET"> -->
        <!-- <input id="shopname" type="text" name="shop" autofocus="autofocus" placeholder="enter your shop name" value="">
        <br> -->
        <div class="bbtn-container">
            <p> to install this app on your store press this button </p>
            <br>
            <a id="btn-submit">Install App</a>  
        </div>
        <!-- <a href= <%= uploadScriptURL %>  id="btn-submit">Upload Script</a>   -->
    <!-- </form> -->
    <!-- JS Section -->
    <script src="js/home.js"></script>
</body>
</html>